:root {
    --main-font: Lato;
    --secondary-color: #3C6F1F;
	--icon-frame-color: #80b940;
	--icon-body-color: #b3d789;
	--hover-color: #1b4403;
    --link-color:#3C6F1F;
	--footer-link-color: #efefef;
    --line-color: rgba(0, 128, 0, 0.298);
    --main-text-color: #000000;
}

/******************* VARIABLES END *******************/


/************************************** NEW CODE **************************************/

html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth; 
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
    color: var(--main-text-color);
    font-family: var(--main-font);
	font-size: 1.4rem;
	background: url(header-alt.jpg) no-repeat;
    padding-top: 5em;
}

div.body {
    background: none;
    background-color: #00000000;
}

div.body h1 {
    font-size: 200%;
}
div.body h2 {
    font-size: 170%;
}
